[user]
	email = h.haydel@calendly.com
	name = Hunter Haydel
[core]
	editor = nvim
	excludesfile = /Users/h.haydel/.gitignore
[push]
	default = current
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[color]
	ui = true
[fetch]
	prune = true
[branch]
	sort = -committerdate
[column]
	ui = auto
